.body {
    background: linear-gradient(to right, rgb(0, 255, 242), rgb(0, 19, 128));
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by Yaya12085 */
.form{
    
    width: 480px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
